@namespace MidwayCampaign.Pages.Games.MidwayGame
@inherits AboutViewBase

<div class="aboutViewBacking" style="@this.aboutStyleModifier">
  <div class="aboutViewOuterFrame">
    <div class="aboutViewInnerFrame">
      <div class="aboutViewHeader">
        <span class="aboutViewHeaderText">
          About The Battle for Midway
        </span>
      </div>
      <div class="aboutContentsArea">
        <AboutContents />
      </div>
      <div class="buttonOkArea">
        <div class="buttonOk"
              @onclick="this.onOk">
          Ok
        </div>
      </div>
    </div>
  </div>
</div>
