<div class="MidwayHelpPane">
  <div class="helpInformationGrid">
    <div class="helpOperationArea">
      Advance time:
    </div>
    <div class="helpOperationText">
      [0-9] (hours to advance)
    </div>
    <div class="helpOperationArea">
      Set task force heading:
    </div>
    <div class="helpOperationText">
      T [16/17] [0-360] (e.g. t 16 225)
    </div>
    <div class="helpOperationArea">
      Set task force speed:
    </div>
    <div class="helpOperationText">
      S [16/17] [0-26] (e.g. s 17 26)
    </div>
    <div class="helpOperationArea">
      Arm strike:
    </div>
    <div class="helpOperationText">
      A [e/h/y/m] # # # (carrier, f4f, sbd, tbd)
    </div>
    <div class="helpOperationArea">
      Launch strike:
    </div>
    <div class="helpOperationText">
      L [e/h/y/m] # (carrier, contact #)
    </div>
    <div class="helpOperationArea">
      Set CAP level:
    </div>
    <div class="helpOperationText">
      CA [e/h/y/m] # (carrier, f4f count)
    </div>
    <div class="helpOperationArea">
      Clear decks:
    </div>
    <div class="helpOperationText">
      CL [e/h/y/m] (carrier)
    </div>
    <div class="helpOperationArea">
      About the game:
    </div>
    <div class="helpOperationText">
      about
    </div>
  </div>
</div>
