@namespace MidwayCampaign.Pages.Games.MidwayGame
@using MidwayEngine
@using MidwayCampaign.Pages.Games.MidwayGame.Contacts
@using MidwayCampaign.Pages.Games.MidwayGame.TaskForces
@inherits MidwayStatusBase

<div class="MidwayStatusPane">
  <div class="MidwayDateLine">
    <div class="MidwayDateArea">
      <span class="MidwayDateText MidwayDateTimeText">@this.gameDate</span>
    </div>
    <div class="MidwayTimeArea">
      <span class="MidwayTimeText MidwayDateTimeText">@this.gameTime</span>
    </div>
    @if (this.isDay)
    {
      <img style="margin: 4px;"
           src="/images/Day.png" />
    }
    else
    {
      <img style="margin: 4px;"
           src="/images/Night.png" />
    }
  </div>
  <TaskForceStatus forceType="ForceTypes.TaskForce16" />
  <TaskForceStatus forceType="ForceTypes.TaskForce17" />
  <TaskForceStatus forceType="ForceTypes.MidwayIsland" />
  <div class="MidwayContactsArea">
    <ContactPanel contactNumber="1" />
    <ContactPanel contactNumber="2" />
    <ContactPanel contactNumber="3" />
  </div>
</div>
