@namespace MidwayCampaign.Pages.Games.MidwayGame
@inherits MidwayConsoleBase

<div class="MidwayConsoleGrid">
  <textarea id="logTextArea"
            class="MidwayConsoleLog"
            readonly
            @bind="this.logLineText"></textarea>
  @if (this.canTakeCommands)
  {
    <input id="inputCommand"
           type="text" autofocus class="MidwayConsoleInput"
           @bind-value:event="oninput"
           @bind-value="this.consoleEntry"
           @onkeydown="this.onKeyPress" />
  }
  else
  {
    <input id="inputCommand"
           type="text" autofocus class="MidwayConsoleInput"
           readonly
           @bind-value="this.consoleEntry" />
  }
</div>
