@namespace MidwayCampaign.Pages.Games.MidwayGame
@inherits MidwayConsoleBase

<div class="MidwayConsoleGrid">
  <div class="logAreaPanes">
    <textarea id="logTextArea"
              class="MidwayConsoleLog"
              readonly
              @bind="this.logLineText"></textarea>
    <div class="midwayHelpArea">
      <div class="midwayHelpAreaInnerFrame">
        <HelpPane />
      </div>
    </div>
  </div>
  @if (this.canTakeCommands)
  {
    <input id="inputCommand"
           type="text" autofocus class="MidwayConsoleInput"
           @bind-value:event="oninput"
           @bind-value="this.consoleEntry"
           @onkeydown="this.onKeyPress" />
  }
  else
  {
    <input id="inputCommand"
           type="text" autofocus class="MidwayConsoleInput"
           readonly
           @bind-value="this.consoleEntry" />
  }
</div>
