.MidwayStatusPane {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  bottom: 100%;
  overflow: auto;
}

.MidwayStatusPane::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.MidwayStatusPane::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.MidwayStatusPane::-webkit-scrollbar-thumb {
  background: #888;
}

  /* Handle on hover */
  .MidwayStatusPane::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.MidwayDateLine {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: fit-content;
  display: inline-grid;
  grid-template-rows: min-content;
  grid-template-columns: auto auto min-content;
  grid-auto-flow: column;
  padding: 0px 6px 0 6px;
}

.MidwayDateArea {
  align-items: start;
}

.MidwayTimeArea {
  align-items: end;
}

.MidwayDateText {
  text-align: start;
}

.MidwayTimeText {
  text-align: end;
  display: inline-grid;
  width: 100%;
}

.MidwayDateTimeText {
  font-family: Calibri;
  font-size: 26px;
  font-weight: 600;
  color: black;
  user-select: none;
}

.MidwayContactsArea {
  display: inline-flex;
  width: calc(100% - 4px);
  height: fit-content;
  margin: 2px;
}