@namespace MidwayCampaign.Pages.Games.MidwayGame
@inherits MidwayGamePageBase

<CascadingValue Value="@this.midway">
  <div class="MidwayGameFrame">
    <div class="MidwayTitleFrame">
      <span class="MidwayTitleText">
        The Battle for Midway
      </span>
    </div>
    <div class="MidwayPlayGrid">
      <div class="MidwayMapArea">
        <MidwayMap />
      </div>
      <div class="MidwayStatusArea">
        <MidwayStatus />        
      </div>
      <div class="MidwayCommandConsoleArea">
        <MidwayConsole />
      </div>
    </div>
  </div>
  @if (this.showFinalSummary)
  {
    <MidwayFinalScoreSummary />
  }
  <StrikeView />
  <AboutView />
</CascadingValue>