@namespace MidwayCampaign.Pages.Games.MidwayGame
@inherits StrikeViewBase

@if (this.showStrikeView)
{
  <div class="strikeViewBacking">
    <div class="strikeViewOuterFrame">
      <div class="strikeViewInnerFrame">
        <div class="strikeViewHeader">
          <span class="strikeViewHeaderText">
            @this.strikeTitle
          </span>
        </div>
        <div class="strikeViewSummaryArea">
          @{
            StrikeEvent? previousStrikeEvent = null;
          }
          @foreach (StrikeEvent strikeEvent in this.currentEvents)
          {
            <StrikeEventView strikeEvent="strikeEvent"
                             previousStrikeEvent="previousStrikeEvent" />
            previousStrikeEvent = strikeEvent;
          }
        </div>
      </div>
    </div>
  </div>
}