@namespace MidwayCampaign.Pages.Games.MidwayGame
@inherits StrikeEventViewBase

@*
  @if (this.newLine)
  {
    <br />
  }
*@
<div class="@this.divClass">
  <span class="@this.spanClass">@this.text</span>
</div>
